<app-title i18n>Kontakt</app-title>

<div class="contact">
  <div class="information">
    <div class="section">
      <h2 i18n>Telefon:</h2>
      <span>
        <mat-icon>call</mat-icon>
        <p>+45 52 34 05 60</p>
      </span>
    </div>
    <div class="section">
      <h2>Email:</h2>
      <span>
        <mat-icon>email</mat-icon>
        <p>info@arthurschneider.com</p>
      </span>
    </div>
    <p i18n>
      Download information som<br>
      <a class="link" href="http://arthurschneider.com/contacts?format=vcf">VKort</a>
    </p>
  </div>
  <div class="form">
    <form action="https://formsubmit.co/ak.kornerup@gmail.com" method="POST">
      <input name="name" type="text" placeholder="Name" id="name" required>
      <input name="email" type="email" placeholder="Email" id="email" required>
      <input name="phone" type="tel" placeholder="Phone" id="phone" required>
      <input type="hidden" name="_template" value="table">
      <textarea name="message" placeholder="Message" id="message" cols="30" rows="10" required></textarea>
      <div class="buttons">
        <button type="submit" i18n>Send</button>
        <button type="reset" i18n>Reset</button>
      </div>
    </form>
  </div>
</div>
