.page,
mat-drawer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: white;
}

::ng-deep .nav .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav {
  min-width: 270px;
  width: 270px;
  background-color: #ececec;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px;
  border: none;

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 100%;
    }

    .title {
      font-size: 23px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    .subtitle {
      text-transform: uppercase;
      font-size: 10px;
      color: #969696;
    }
  }

  .links {
    width: 40%;

    ul {
      text-decoration: none;
      list-style: none;

      li {
        color: #888888;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        transition: 500ms all;

        &.active,
        &:hover {
          color: #312d2f;
        }

        &:focus {
          outline: none;
        }
      }

      li:not(:first-child) {
        margin-top: 14px;
      }
    }
  }

  .bottom {
    .social {
      .icon {
        color: #888888;
        width: 14px;
        margin-right: 8px;
        cursor: pointer;
        transition: 400ms all;

        &:hover {
          color: #312d2f;
        }
      }
    }

    .copyright {
      text-transform: uppercase;
      font-size: 8px;
      color: #969696;
    }
  }
}

.toolbar {
  width: 100%;
  padding: 8px 16px;
  background-color: #ECECEC;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  z-index: 10;
}