.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

nav {
  width: 270px;
  background-color: #ececec;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 0px;

  .head {
		display: flex;
		flex-direction: column;
		align-items: center;

    .logo {
      width: 100%;
    }

    .title {
      font-family: "Ubuntu", sans-serif;
      font-size: 23px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    .subtitle {
      text-transform: uppercase;
      font-size: 10px;
      color: #969696;
    }
	}
	
	.links {
    margin-top: 65%;
    width: 40%;
		
		ul {
			text-decoration: none;
			list-style: none;
			
			li {
				color: #888888;
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
        cursor: pointer;
        transition: 500ms all;
				
				&.active, &:hover {
					color: #312d2f;
				}

				&:focus {
					outline: none;
				}
			}

			li:not(:first-child) {
				margin-top: 14px;
			}
		}
	}

  .bottom {
    margin-top: auto;

    .social {
      .icon {
        color: #888888;
        width: 14px;
        margin-right: 8px;
        cursor: pointer;
        transition: 400ms all;

        &:hover {
          color: #312d2f;
        }
      }
    }

    .copyright {
      text-transform: uppercase;
      font-size: 8px;
      color: #969696;
    }
  }
}

main {
  flex-grow: 1;
}
