<!-- <div class="page">
  <nav>
    <div class="head">
      <img class="logo" src="/assets/logo.svg" alt="Arthur Schneider" />
      <span class="title">Arthur Schneider</span>
      <span class="subtitle">Videoproduktion</span>
    </div>

    <div class="links">
      <ul>
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink=""
        >
          Home
        </li>
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="about"
        >
          About me
        </li>
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="portfolio"
        >
          Portfolio
        </li>
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="music"
        >
          Music
        </li>
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="contact"
        >
          Contact
        </li>
      </ul>
    </div>

    <div class="bottom">
      <div class="social">
        <a href="https://www.facebook.com/4rthurschneider?locale=da_DK">
          <mat-icon
            svgIcon="facebook-alt"
            class="icon"
            aria-hidden="false"
            aria-label="Facebook icon"
            >facebook-alt</mat-icon
          >
        </a>
        <a href="#">
          <mat-icon
            svgIcon="twitter"
            class="icon"
            aria-hidden="false"
            aria-label="Twitter icon"
            >twitter</mat-icon
          >
        </a>
        <a href="#">
          <mat-icon
            svgIcon="youtube"
            class="icon"
            aria-hidden="false"
            aria-label="Facebook icon"
            >youtube</mat-icon
          >
        </a>
      </div>
      <span class="copyright"
        >ARTHUR SCHNEIDER &copy; 2020 | VIDEOPRODUKTION</span
      >
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div> -->

<mat-drawer-container [hasBackdrop]="isHandset$ | async">
  <mat-drawer
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    [position]="(isHandset$ | async) ? 'end' : 'start'"
    class="nav"
  >
    <div class="head">
      <img class="logo" src="/assets/logo.svg" alt="Arthur Schneider" />
      <span class="title">Arthur Schneider</span>
      <span class="subtitle" i18n>Videoproduktion</span>
    </div>

    <div class="links">
      <ul>
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink=""
          i18n
        >
          Hjem
        </li>
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="about"
          i18n
        >
          Omkring mig
        </li>
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="portfolio"
          i18n
        >
          Portefølje
        </li>
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="music"
          i18n
        >
          Musik
        </li>
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="contact"
          i18n
        >
          Kontakt
        </li>
      </ul>
    </div>

    <div class="bottom">
      <div class="social">
        <a href="https://www.facebook.com/4rthurschneider?locale=da_DK">
          <mat-icon
            svgIcon="facebook-alt"
            class="icon"
            aria-hidden="false"
            aria-label="Facebook icon"
            >facebook-alt</mat-icon
          >
        </a>
        <a href="#">
          <mat-icon
            svgIcon="twitter"
            class="icon"
            aria-hidden="false"
            aria-label="Twitter icon"
            >twitter</mat-icon
          >
        </a>
        <a href="#">
          <mat-icon
            svgIcon="youtube"
            class="icon"
            aria-hidden="false"
            aria-label="Facebook icon"
            >youtube</mat-icon
          >
        </a>
      </div>
      <span class="copyright" i18n
        >ARTHUR SCHNEIDER &copy; 2020 | VIDEOPRODUKTION</span
      >
    </div>
  </mat-drawer>
  <mat-drawer-content class="main">
    <div class="toolbar" *ngIf="(isHandset$ | async)">
      <p>Arthur Schneider</p>
      <mat-icon
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >menu</mat-icon
      >
    </div>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
