<app-title>About me</app-title>

<div class="about">
  <div class="profile">
    <img
      src="/assets/arthur.png"
      alt="Arthur Schneider"
      class="me-pic"
    />
    <p class="infotext">
      MIT NAVN ER ARTHUR HVELPLUND SCHNEIDER OG JEG ER EN VIDEO KREATØR. SELVOM
      JEG HOLDER TIL I ÅRHUS OMRÅDET, HAR JEG KUNDER RUNDT OMKRING I EUROPA.
      IGENNEM MINE 5 ÅR SOM VIDEO KREATØR, HAR JEG SKUDT REKLAMEFILM HOS STORE
      OG SMÅ VIRKSOMHEDER. ALT FRA TOYOTA OG MASERATI TIL SMÅ LOKALE STARTUPS.
      FORDI JEG ER VOKSET OP I DANMARK, SVERIGE OG SCHWEIZ, HAR JEG SAMLET EN
      MASSE ERFARING I UDLANDET OG FORSKELLIGE KULTURER. DETTE GØR DET NEMMERE
      AT ARBEJDE PÅ UDENLANDSKE PROJEKTER. JEG ER DEN RETTE MAND, HVIS DU ØNSKER
      UNIKKE OG KVALITATIVT GENNEMFØRTE VIDEOER, DER FÅR DIG TIL AT STÅ UD AF
      MÆNGDEN.
    </p>
  </div>

  <div class="references">
    <img
      src="/assets/references/1.png"
      width="438"
      height="85"
      alt="TOYOTA, RACEHALL, TAIYAKI"
    />
    <img
      src="/assets/references/2.png"
      width="596"
      height="88"
      alt="VTR MOTORRAD, RYGNOW, TRIFORK"
    />
  </div>

  <div class="why-me">
    <app-title>Hvorfor vælge mig?</app-title>
    <p class="infotext">
      HOS ARTHUR SCHNEIDER VIDEOPRODUKTION FÅR DU HELT ENESTÅENDE OG
      OPMÆRKSOMHEDSFANGENDE VIDEOER, DER ADSKILLER SIG UD FRA KONKURRENTERNE.
      DET GIVER DIN VIRKSOMHED ET FORSPRING. HVORDAN DET? JEG ER EN UNG
      IVÆRKSÆTTER. DET BETYDER AT MINE PRISER ER EN DEL BILLIGERE, END
      FILMSSELSKABER DER PRODUCERER LIGNENDE KVALITETER.
    </p>
    <p class="infotext">
      ØNSKER DU AT HAVE DEN STØRSTE FRIHED OVERHOVEDET TIL HVAD, DU KAN BRUGE
      DIN VIDEO TIL? UDEN AT SKULLE BEKYMRE SIG OM RETTIGHEDER AF MUSIK? SÅ KAN
      DU VÆLGE AT VÆRE PÅ DEN HELT SIKRE SIDE OG BRUGE MUSIK FRA <a href="/music">LAHVIG MUSIC</a>.
      JEG HAR ET SAMARBEJDE MED DEM, HVILKET GIVER EN LICENS TIL ALT.
      LIGEGYLDIGT OM SOCIAL MEDIA, HJEMMESIDE, GOOGLE-ADS, TV, BIOGRAFEN ELLER
      TIL DIN FAMILIETUR. DET DÆKKER ALT, FORDI MUSIKKEN ER PRODUCERET TIL DIG.
    </p>
  </div>
</div>
